.btn-nogi {
    background: #924a93;
    color: #fff;
}

.btn-hinata {
    background: #7cc7e8;
    color: #fff;
}

.btn-donation {
    background: #FF5147;
}

.btn-donation:hover {
    opacity: 0.7;
}