.himitsu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background: #fff;
    font-size: large;
    color: #e36387;
}

.himitsu-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    font-size: large;
    color: #e36387;
    padding-right: 10px;
    padding-left: 10px;
}