//Post Template Style
.container-leftpart {
    width: 100%;
}

.container-rightpart {
    width: 100%;
    padding-top: 0;
}

@media screen and (min-width: 768px) {
    .container-leftpart {
        width: 50%;
    }

    .container-rightpart {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .container-rightpart {
        padding-top: 1rem;
    }
}

//PostGrid Style
.post-grid {
    display: grid;
}

@media screen and (max-width: 1122px) {
    .post-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}