.facebook {
    border-radius: 0;
    background: #4267B2;
    color: white;
    height: 80px;
}

.discord {
    border-radius: 0;
    background: #7289da;
    color: white;
    height: 80px;
}

.facebook:hover {
    opacity: 0.7;
}

.discord:hover {
    opacity: 0.7;
}

.btn-donation {
    background: #FF5147;
}

.btn-donation:hover {
    opacity: 0.7;
}